<div *ngIf="isLoading">Loading...</div>
<div
  *ngIf="!isLoading"
  class="carousel"
  [style.width]="imgPerSlide * imgWidth + 'px'"
>
  <div
    class="image-container"
    [style.transform]="'translateX(-' + currentIndex * imgWidth + 'px)'"
  >
    <img
      *ngFor="
        let image of images.slice(
          0,
          imageLimit > images.length ? images.length : imageLimit
        );
        let index = index
      "
      #carouselImage
      [src]="image.url"
      [alt]="image.title"
      class="image"
      (click)="onImgClick(image, index)"
    />
  </div>
  <!-- <ng-content select=".btn.prev" (click)="goToPrev()"></ng-content> -->
  <button
    class="btn prev"
    [ngStyle]="prevButtonConfig.styles"
    (click)="goToPrev()"
  >
    {{ prevButtonConfig.label }}
  </button>
  <button
    class="btn next"
    [ngStyle]="nextButtonConfig.styles"
    (click)="goToNext()"
  >
    {{ nextButtonConfig.label }}
  </button>
</div>
