<div *ngIf="isLoading">Loading...</div>
<div
  *ngIf="!isLoading"
  class="carousel"
  [style.width]="imgPerSlide * imgWidth + 'px'"
>
  <div
    class="image-container"
    [style.transform]="'translateX(-' + currentIndex * imgWidth + 'px)'"
  >
    <img
      *ngFor="
        let image of images.slice(
          0,
          imageLimit > images.length ? images.length : imageLimit
        );
        let index = index
      "
      #carouselImage
      [src]="image.url"
      [alt]="image.title"
      class="image"
      (click)="onImgClick(image, index)"
    />
  </div>
  <!-- <button class="btn prev" style="background: red" (click)="goToPrev()">
    Prev
  </button>
  <button class="btn next" style="background: blue" (click)="goToNext()">
    Next
  </button> -->
  <div [innerHTML]="customPrevButton(goToPrev)"></div>
  <div [innerHTML]="customNextButton(goToNext)"></div>
</div>
